.extraTitle {
  display: none;
}

@media screen and (max-width: 1068px) {
  .extraTitle {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    align-self: center;

    &__text {
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
      color: #1e2959;
    }
  }
}

@media screen and (max-width: 571px) {
  .extraTitle {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    align-self: center;

    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #1e2959;
    }
  }
}
