.textField {
  position: relative;

  &__input {
    background: #ffffff;
    border: 1px solid #1e2959;
    box-shadow: 0px 16px 40px rgba(10, 29, 71, 0.04);
    border-radius: 17px;
    padding: 20px;
    min-width: 108px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    &::placeholder {
      color: rgba(10, 29, 71, 0.5);
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &::before {
    content: attr(data-required);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #942314;

    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
  }
}
